---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Journal Entries</h1>

  <ul class="journal-list">
    {% for journal_entry in site.journal_entries %}
    {% if journal_entry.visible == 1 %}
      <li>
        <span class="journal-meta">{{ journal_entry.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="journal-link" href="{{ journal_entry.url | prepend: site.baseurl }}">{{ journal_entry.title }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
